@tailwind base;
@tailwind components;
@tailwind utilities;

.mantine-RichTextEditor-content {
  background-color: white;
  @apply text-base dark:text-myTheme-light;
}
.mantine-RichTextEditor-root {
  background-color: transparent;
}
.mantine-RichTextEditor-toolbar {
  background-color: white;
}
.mantine-UnstyledButton-root {
  @apply text-base dark:text-myTheme-light;
}
